%p#address_title= t('sidebar.address_title')
#google_map
%p#address
  %span= t('sidebar.address')
%p#workhours_title= t('sidebar.workhours_title')
%p#workhours<
  %span= t('sidebar.workhours')
%p#phone_title= t('sidebar.phone_title')
%p#phone
  %span
    +40 746 480291<br/>
%p#email_title= t('sidebar.email_title')
%p#email
  %span office&#064;varena-auto.ro
  %span atelier&#064;varena-auto.ro
