%span#hidden_data{data: {dialog: "filter",model_name: mat(@object,'model_name'),oid: "null"}}
%article#xhr_info.info
  %i.fa.fa-info-circle.fa-lg.blue
  - unless params[:related_id]
    = t("intro.embedded.main",child: mat(@object,'model_name'),parent: mat(@related_object,'model_name'))
  -else
    = t("intro.filter.main",data: mat(@object,'model_name'))
%form{action: "/sys/#{@path}",method: "get"}
  %table
    %tbody
      %tr.pdb-05
        %td
          %select#r_id
            %option{value: "null"}= t("select.option",data:  mat(@related_object,'model_name'))
            - @related_object.default_sort.each do |o|
              %option{value: o.view_filter.first,selected: o.view_filter.first.to_s == params[:r_id]}= o.view_filter.last
          - if params[:r_id]
            %select#oid
              %option{value: "null"}= t("select.option",data: mat(@object,'model_name'))
              - @object.default_sort.each do |o|
                %option{value: o.view_filter.first}= o.view_filter.last
      %tfoot
        %tr
          - if params[:r_id]
            - td_buttonset(['create','show','edit','delete','cancel'],{style: 'ta-ce'})
          - else
            - td_buttonset(['cancel'],{style: 'ta-ce'})
