%ul
  %li.em.st=  t('xhr_tasks.title')
  - if tsks[0].empty?
    %li= t('xhr_tasks.empty')
  - else
    - tsks[0].each do |tsk|
      %li
        %a{:id  => "#{tsk}",:'data-tsks' => "filter",:href => "#"}
          = TrstTask.find(tsk).name
        %span.help{:onclick  => "trst.task.init('#{tsk}','help')"}
  - unless tsks[1].empty?
    %li.em.st= t('xhr_pdfs.title')
    - tsks[1].each do |pdf|
      %li
        %a{:id => "#{pdf}",:'data-tsks' => "pdf",:href => "#"}
          = TrstTask.find(pdf).name
      %span.help{:onclick  => "trst.task.init('#{pdf}','help')"}

