:ruby
  unit_id = current_user.unit_id || session[:unit_id]
  partner_type = @object.client == true ? 'client' : 'supplier'
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t("trst_partner.quick.#{partner_type}.title")
- if action == 'get'
  - if partner_type == 'supplier'
    %table{:cellspacing => "0"}
      %tbody
        %tr
          %td= t("trst_partner.quick.supplier.get", :partner => @object.name[2])
          %input#grn_supplier_id{:type => "hidden", :value => @object.id}
        %tfoot
          %tr
            %td{:class => "buttons_bottom"}
              %span{:class => "button post", :onclick => "trst.task.acc.grnInit('#{TrstTask.task_id_by_goal("TrstAccGrn")}')" }= t("button.post") + " NIR"
              %span{:class => "button delete", :onclick => "trst.task.init('#{@task.id}','delete','#{@object.id}')"}= t("button.delete")
  - elsif partner_type == 'client'
    %table{:cellspacing => "0"}
      %tbody
        %tr
          %td= t("trst_partner.quick.client.get", :partner => @object.name[2])
        %tfoot
          %tr
            %td{:class => "buttons_bottom"}
              %span{:class => "button post", :onclick => "trst.task.init('#{TrstTask.task_id_by_goal("TrstAccInvoice")}')" }= "Înapoi la Facturare"
              %span{:class => "button delete", :onclick => "trst.task.init('#{@task.id}','delete','#{@object.id}')"}= t("button.delete")
  - else
    %p= t("trst_partner.quick.error")
- else
  %table
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p= t("gen_msg.#{action}", :data => "#{@object.class.to_s} -> #{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,@object.id,params)}<
              =t("button.#{button}")
