:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
- if unit_id
  - unless current_user.unit_id
    = partial('trst_sys/shared/select_unit')
  - unless current_user.admin?
    %p.small= t('trst_acc_freight.filter.intro')
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %tbody
        %tr
          %td
            %select{:onchange => "if (selectedValue(this) != 'null'){trst.task.init('#{@task.id}',
                                 'get',
                                  selectedValue(this))}"}
              %option{:value => 'null'}= TrstAccFreight.by_unit_id(unit_id).empty? ? t('select.no_data') : t('select.select')
              - unless TrstAccFreight.by_unit_id(unit_id).empty?
                - TrstAccFreight.by_unit_id(unit_id).each do |o|
                  %option{:value => o.id}
                    = option_name(o)
      %tfoot
        %tr
          %td{:class => "buttons_bottom"}
            - if current_user.admin?
              %span{:class => "button post", :onclick => "trst.task.init('#{@task.id}', 'post', 'new')"}= t("button.post")
            %span{:class => "button cancel", :onclick => "trst.task.destroy()"}= t("button.cancel")
- else
  = partial('trst_sys/shared/select_unit')
