%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
-if action == 'get'
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t('gen_head.field')
        %th= t('gen_head.value')
    %tbody
      - @object.table_data.each do |data|
        - tr_body('get',data)
    %tfoot
      %tr
        %td{:class => "buttons_bottom", :colspan => "2"}
          %span{:class => "button put", :onclick => "trst.task.init('#{@task.id}','put','#{@object.id}')"}=t("button.put")
          - if current_user.admin?
            %span{:class => "button delete", :onclick => "trst.task.init('#{@task.id}', 'delete', '#{@object.id}')"}= t("button.delete")
          %span{:class => "button cancel", :onclick => "trst.task.destroy()"}= t("button.cancel")
          - if current_user.admin?
            %span{:class => "button post", :onclick => "trst.task.init('#{@task.id}', 'post', 'new')"}= t("button.post")
      %tr
        %td.footer_note{:colspan => "2"}= t('trst_acc_freight.footer_note')
- else
  %table
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p= t("gen_msg.#{action}", :data => "#{@object.class.to_s} -> #{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,@object.id,params)}<
              =t("button.#{button}")

