:ruby
  today = Date.today
  year = params[:year].nil? ? today.year : params[:year].to_i
  month = params[:month].nil? ? today.month : params[:month].to_i
  freight_id = params[:freight_id]
  unit_id = current_user.unit_id.nil? ? params[:unit_id] : current_user.unit_id
  unit_id = nil if unit_id == 'null'
  unit = TrstAccFreight.find(freight_id).unit if freight_id
  cols = 0
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_freight.query.title')
-if unit_id && freight_id.nil?
  %p
    %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                          'query',
                          '?unit_id=#{unit_id}&month=#{month}&year=' + selectedValue(this))}"}
      - [2011,2012].each do |y|
        %option{:value => y, :selected => y == year}= y
    %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                          'query',
                          '?unit_id=#{unit_id}&year=#{year}&month=' + selectedValue(this))}"}
      - t('month')[0..12].each_with_index do |m,i|
        %option{:value => i, :selected => i == month}= m
    - if current_user.unit_id
      %span= "#{TrstFirm.unit_by_unit_id(unit_id).name[1]}, #{today.to_s if month == today.month}"
    - else
      %select{:onchange => "trst.task.destroy();trst.task.init('#{@task.id}',
                           'query',
                           '?month=#{month}&year=#{year}&unit_id=' + selectedValue(this))"}
        %option{:value => "null"}= t("trst_acc_freight.filter.#{unit_id ? 'has' : 'no' }_unit.select")
        - TrstFirm.first.units.asc(:slug).each do |unit|
          %option{:value => unit.id, :selected => unit.id.to_s == params[:unit_id]}= unit.name[1]
  %p.small= t('trst_acc_freight.stats_freight.intro')
  %table
    %tbody.inner.stats
      %tr
        - %w{name start ins outs final}.each do |cn|
          %td.ce= t("trst_acc_freight.query.#{cn}")
      - @object.by_unit_id(unit_id).query(year,month).each do |stock| ; cols = stock.length - 1
        %tr
          %td
            %span.link{:id  => stock.shift, :onclick => "trst.task.destroy(); trst.task.init('#{@task.id}','query','?freight_id=' + this.id + '&month=#{month}' + '&year=#{year}')"}= stock.shift
          - stock.each_with_index do |s,i|
            %td.ri= "%0.2f" % s
      %tr
        %td{:colspan => cols} &nbsp;
    %tfooter
      %tr
        %td.footer_note{:colspan => "5"}= t('trst_acc_freight.query.footer_note')
- elsif freight_id
  %p= "<b>#{t('trst_acc_freight.stats_freight.title')}</b> (#{unit.name[1]})"
  %p
    %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                          'query',
                          '?freight_id=' + selectedValue(this) + '&month=#{month}' + '&year=#{year}')}"}
      - TrstAccFreight.pos(unit.slug).each do |f|
        %option{:value => f.id, :selected => f.id.to_s == freight_id}= f.name
    %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                        'query',
                        '?freight_id=#{freight_id}&month=#{month}&year=' + selectedValue(this))}"}
      - [2011,2012].each do |y|
        %option{:value => y, :selected => y == year}= y
    %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                          'query',
                          '?freight_id=#{freight_id}&year=#{year}&month=' + selectedValue(this))}"}
      - t('month')[0..12].each_with_index do |m,i|
        %option{:value => i, :selected => i == month}= m
    %table
      %tbody.inner.stats
        %tr
          - %w{date ins outs final}.each do |cn|
            %td.ce= t("trst_acc_freight.stats_freight.#{cn}")
        %tr
          %td.ce{:colspan => "3"}= t('trst_acc_freight.stats_freight.start')
          %td.ri= "%0.2f" % (init = TrstAccFreight.find(freight_id).stocks.monthly(year,month).sum(:qu) || 0).round(2)
        - data = TrstAccFreight.stats_freight(freight_id,year,month); data.each_with_index do |d,i|
          %tr
            %td= d.shift
            - d.each_with_index do |v,j|
              - if j == 2 || i == data.length - 1 || v == 0
                %td.ri= "%0.2f" % v
              - else
                %td.ri
                  %span.link= "%0.2f" % v
- else
  %p=t('trst_acc_freight.query.warning.no_unit')
  %p
    %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                          'query',
                          '?month=#{month}&year=' + selectedValue(this))}"}
      - [2011,2012].each do |y|
        %option{:value => y, :selected => y == year}= y
    %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                          'query',
                          '?year=#{year}&month=' + selectedValue(this))}"}
      - t('month')[0..12].each_with_index do |m,i|
        %option{:value => i, :selected => i == month}= m
  %table
    %tbody.inner.stats
      %tr
        - %w{name start ins outs final}.each do |cn|
          %td.ce= t("trst_acc_freight.query.#{cn}")
        - TrstFirm.first.units.asc(:slug).each do |unit|
          %td
            %span.ce.link{:id => unit.id, :onclick => "trst.task.destroy(); trst.task.init('#{@task.id}','query','?month=#{month}&year=#{year}&unit_id=' + this.id)"}= unit.name[0]
      - @object.stats(year,month).each do |st| ; cols = st.length - 1
        %tr
          %td= st.shift
          - dif = st.pop
          - st.each_with_index do |c,i|
            %td.ri{:class => (i == 3) && 'st', :title => (i == 3 && dif != 0) &&  "Transfer intern neoperat:\n\t%0.2f kg\nlipseşte la stoc DPOA!" % dif, :style =>  (i == 3 && dif != 0) && 'color:red;cursor:pointer'}= "%0.2f" % c
      %tr
        %td{:colspan => cols} &nbsp;
