%p.close{:onclick => "task.destroy()"}
%p.task_title= @task.title.empty? ? "...?..." : @task.title
-if action == 'get'
  %table
    %tbody
      %tr
        %th= t('gen_head.field')
        %th= t('gen_head.value')
      - readable_values(@object).each do |f|
        %tr
          %td= f[1]
          %td= f[2].class == Array ? f[2].join(', ') : f[2]

