!!! 5
%html
  = partial("#{Trst.firm.layout}/html-head")

  %body{id: "public"}
    #main.wrap
      %article#xhr_msg
      %header#header.public
        = partial("#{Trst.firm.layout}/header")

      %nav#menu.public
        = partial("#{Trst.firm.layout}/menu")

      %section#content
        %article#xhr_content
          = yield
      %section#sidebar.public
        = partial("#{Trst.firm.layout}/sidebar")

      %section#main_footer.wrap

    %footer#footer.wrap
      = partial("#{Trst.firm.layout}/footer")
