%ul
  %li.em.st=  t("sidebar.#{@page.chapter.slug}.#{@page.slug}.title")
  - if @tasks.empty?
    %li= t('sidebar.empty')
  - else
    - (%w{filter print query repair test page} & @tasks.map(&:action).uniq).each do |action|
      %li.em.st= t("sidebar.category.#{action}", default: :'wstm.sidebar.category.uncategorized') unless (action == 'filter' || (@page.slug == 'stats' && action == "query"))
      - @tasks.each do |tsk|
        - href  = "/sys/#{tsk.goal.underscore.gsub('.','/')}"
        - href += "#{tsk.params}" unless tsk.params.blank?
        - href  = href.sub(/page$/,"edit/#{@page.id}") if action == 'page'
        - if tsk.action =~ /#{action}/
          %li
            %a{id: tsk.id,href: href,data: {action: tsk.action}}= tsk.name
            %span.help.fa.fa-question-circle.fa-lg
