%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_grn.title')
%table{:cellspacing => "0"}
  %thead
    %tr
      %td
        %p{:style => "font-size:0.9em"}= t('trst_acc_grn.filter.info')
  %tbody
    %tr
      %td
        %select#select_supplier
          %option{:value => 'null'}= t('trst_acc_grn.select.supplier')
          - unless TrstPartner.suppliers.empty?
            - TrstPartner.suppliers.each do |supplier|
              %option{:value => supplier.id}= supplier.name[1]
        %span{:class => "button post", :onclick => "trst.task.init('#{TrstTask.task_id_by_goal("TrstPartner.find")}','post','new?partner_type=supplier')"}= t('trst_acc_grn.filter.add_supplier')
  %tfoot
    %tr
      %td{:class => "buttons_bottom"}
        %span{:class => "button post", :onclick => "trst.task.acc.grnInit('#{@task.id}')" }= t("button.post") + " NIR"
        %span{:class => "button cancel", :onclick => "trst.task.destroy()"}= t("button.cancel")

