%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
-if action == 'get'
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.grn", :action => "get", :object_id => "#{@object.id}"}}
  %table{:cellspacing => "0"}
    %thead
      %tr
        %td{:colspan => "2"}
          %span= "#{t('trst_acc_grn.get.thead')} <b>#{@object.name}</b>/<b>#{@object.id_date.to_s}</b>"
    %tbody
      %tr
        %td{:colspan => "2"} &nbsp;
      %tr
        %td{:colspan => "2"}
          %span= t('trst_acc_grn.get.tbody.text', @object.i18n_hash)
      %tr
        %td{:colspan => "2"} &nbsp;
      - @object.freights.each_with_index do |f,i|
        %tr
          %td.st= "#{i + 1}. Deşeuri #{f.freight.name.downcase}"
          %td.st.ri= "#{"%.2f" % f.qu} #{f.um.downcase}"
      %tr
        %td{:colspan => "2"} &nbsp;
    %tfoot
      %tr
        %td{:class => "buttons_bottom", :colspan => "2"}
          %form{:id  => "xhr_#{action}"}
          %span{:class => "button print mc-evt"}= t("button.print")
          %span{:class => "button delete mc-evt"}= t("button.delete")
      %tr
        %td.footer_note{:colspan => "4"}= "&nbsp;&nbsp;"
- else
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.grn", :action => "delete", :object_id => "#{@object.id}"}}
  %table
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p= t("gen_msg.#{action}", :data => "#{@object.class.to_s} -> #{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          %span{:class => "button cancel mc-evt"}= t("button.cancel")
          %span{:class => "button delete mc-evt"}= t("button.delete")
