:ruby
  session[:unit_id] = TrstFirm.unit_id_by_unit_slug('AFDV') rescue TrstFirm.unit_id_by_unit_slug('DPOA')
  unit_id = current_user.unit_id || session[:unit_id]
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
-if action == 'put'
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.grn", :action => "put", :object_id => "#{@object.id}"}}
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %th{:colspan => "6"}
            %span= t('trst_acc_grn.put.thead.label')[0]
            %input.ce{:name => "[trst_acc_grn][name]",:value => @object.name, :style => "width:12em"}
            %span= t('trst_acc_grn.put.thead.label')[1]
            %input.date{:name => "[trst_acc_grn][id_date]",:value => @object.id_date.to_s}
        %tr
          %td{:colspan => "6"}
            %span= t('trst_acc_grn.put.thead.label')[2]
        %tr
          %td{:colspan => "6",:style => "border: solid 1px"}
            %table{:cellspacing => "0"}
              %tbody
                %tr
                  %td
                    %select{:name => "[trst_acc_grn][supplier_id]"}
                      - TrstPartner.suppliers.each do |s|
                        %option{:value => s.id, :selected => s.id == @object.supplier_id}= s.name[1]
                  %td
                    %input.date{:name => "[trst_acc_grn][main_doc_date]",:value => @object.main_doc_date.to_s, :placeholder => "În data de:"}

                  %td
                    %select{:name => "[trst_acc_grn][main_doc_type]"}
                      %option{:value => "null"}= "Tip document"
                      %option{:value => "DN"}= "Aviz de expediţie"
                      %option{:value => "INV"}= "Factură fiscală"
                      %option{:value => "MIN"}= "Proces verbal"
                  %td
                    %input.date{:name => "[trst_acc_grn][main_doc_name]",:value => @object.main_doc_name.to_s, :placeholder => "Nr. document"}
                %tr
                  %td{:colspan => "4"}
                    = partial('trst_sys/shared/select_delegate', :locals => {:partner_id => @object.supplier_id})
              %tfoot
                %tr
                  %td{:colspan => "4"}
                    %span.small= t('trst_acc_grn.put.thead.info')
        %tr
          %td{:colspan => "6"}
            %p{:style => "margin:5px"}= t('trst_acc_grn.put.thead.label')[3]
      %tbody.inner
        %tr.ce
          - t('trst_acc_grn.put.tbody').each do |label|
            %td= label
        -for i in 1..5 do
          %tr{:id => "tr_0#{i.to_s}"}
            %td.filtering-select-freight{:style => "width:4em"}
              %input.freight{:id => "freightSelect_0#{i.to_s}"}
            %td.ce
              %span.st kg
            %td{:style => "width:4em"}
              %input.puw{:id => "pu_0#{i.to_s}",:name => "[freights][#{i}][pu]",:value => "0.00"}
            %td{:style => "width:4em"}
              %input.quw{:id => "qu_0#{i.to_s}",:name => "[freights][#{i}][qu]",:value => "0.00"}
              %input{:type => "hidden", :name => "[freights][#{i}][id_stats]",:value => ''}
              %input{:type => "hidden", :name => "[freights][#{i}][doc_grn_id]",:value => @object.id}
            %td.ce
              %span.res 0.00
            %td.ce
              %span.db-freight-del.ce
        %tr
          %td.ce.em.st{:colspan => "4"}
            %span Total
          %td
            %span.ce.st{:style => "display:block"} 0.00
            %input{:type => "hidden", :name => "[trst_acc_grn][sum_100]"}
          %td
            %span &nbsp;&nbsp;
      %tfoot
        %tr
          %td{:colspan => "6"}
            %span= t('trst_acc_grn.put.tfoot')
        %tr
          %td{:colspan => "3"}
            %input.ce.st{:name => "[trst_acc_grn][main_doc_paym]",:placeholder => "Achitat cu",:style => "width:12.5em"}
          %td{:colspan => "3"}
            %input.ce.st{:id => "sum_pay",:name => "[trst_acc_grn][sum_pay]",:placeholder => "Suma de",:style => "width:8em"}
        %tr
          %td{:class => "buttons_bottom", :colspan => "6"}
            %span{:class => "button save mc-evt"}= t("button.save")
            %span{:class => "button delete mc-evt"}= t("button.delete")
        %tr
          %td.footer_note{:colspan => "6"}= "&nbsp;&nbsp;"
-else
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.grn", :action => "post", :object_id => "#{@object.id rescue nil}"}}
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,"new",params)}<
              =t("button.#{button}")
