:ruby
  unit_id = session[:unit_id]
- if unit_id
  %span.small= t("trst_acc_freight.filter.#{unit_id ? 'has' : 'no' }_unit.warning")
- else
  %p.small= t("trst_acc_freight.filter.#{unit_id ? 'has' : 'no' }_unit.warning")
%select{:onchange => "trst.task.init('#{@task.id}','unit_id',selectedValue(this)); dojo.byId('current_unit_id').innerHTML=selectedLabel(this)"}
  %option{:value => "null"}= t("trst_acc_freight.filter.#{unit_id ? 'has' : 'no' }_unit.select")
  - TrstFirm.first.units.asc(:slug).each do |unit|
    %option{:value => unit.id, :selected => unit.id.to_s == session[:unit_id]}= unit.name[1]
- if unit_id
  %hr
