%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
-if action == 'get'
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t('gen_head.field')
        %th= t('gen_head.value')
    %tbody
      - @object.table_data.each do |data|
        %tr{:class => data[:css]}
          - case data[:css]
          - when /normal|integer/
            %td= data[:label]
            %td= data[:value]
          - when 'array'
            %td= data[:label]
            %td= data[:value].join(', ')
          - when 'relations'
            %td= data[:label]
            %td= data[:value][0].join(', ')
          - when 'localized'
            %td= data[:label] + "<sup>*</sup>"
            %td= data[:value].nil? ? '...?...' : data[:value]["#{current_lang}"]
          - when 'datetime'
            %td= data[:label]
            %td= data[:value]
    %tfoot
      %tr
        %td{:class => "buttons_bottom", :colspan => "2"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,@object.id)}<
              =t("button.#{button}")
      %tr
        %td.footer_note{:colspan => "2"}= t('gen_footer.note')
- else
  %table
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p= t("gen_msg.#{action}", :data => "#{@object.class.to_s} -> #{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,@object.id)}<
              =t("button.#{button}")

