%p.close{:onclick => "task.destroy()"}
%p.task_title= current_title(@task,action)
-if action == 'put'
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %th= t('gen_head.field')
          %th= t('gen_head.value')
      %tbody
        - @object.table_data.each do |data|; model = @task.target.split('.')[0].underscore
          - case data[:css]
          - when 'normal'
            %tr{:class => data[:css]}
              %td= data[:label]
              %td
                %input{:name => "[#{model}][#{data[:name]}]",
                       :value => data[:value]}
          - when 'relations'
            %tr{:class => data[:css]}
              %td= data[:label]
              %td<
                %span=data[:value][0].join(', ')
                %input{:type => "hidden",
                       :name => "[#{model}][#{data[:name]}]",
                       :value => data[:value][1].join(',')}
                %input{:type  => "hidden", :value => "/srv/tsk,#{@task.id.to_s},#{action},#{@object.id.to_s}"}
                - unless data[:value][0].empty?
                  %span.db-relations-del{:'data-fieldname' => data[:name], :onclick => "task.relations.init()"}
                %span.db-relations-add{:'data-fieldname' => data[:name],:onclick => "task.relations.init()"}
          - when 'localized'
            %tr{:class => data[:css]}
              %td= data[:label] + "<sup>*</sup>"
              %td
                %input{:name => "[#{model}][#{data[:name]}]",
                  :value => data[:value].nil? ? '...?...' : data[:value]["#{current_lang}"]}
      %tfoot
        %tr
          %td{:class => "buttons_bottom", :colspan => "2"}
            - current_buttons(action).each do |button|
              %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,@object.id)}<
                =t("button.#{button}")
        %tr
          %td.footer_note{:colspan => "2"}= t('gen_footer.note')
-else
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,"new")}<
              =t("button.#{button}")

