%p.close{:onclick => "task.destroy()"}
%p.task_title= current_title(@task,action)
-if action == 'put' 
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %th= t('gen_head.field')
          %th= t('gen_head.value')
      %tbody
        - @object.table_data.each do |data|; model = @task.target.split('.')[0].underscore
          - case data[:css]
          - when 'normal'
            %tr{:class => data[:css]}
              %td= data[:label]
              %td<
                %input{:name => "[#{model}][#{data[:name]}]",
                       :value => (data[:value] unless action == 'post')}
          - when 'localized'
            %tr{:class => data[:css]}
              %td= data[:label] + "<sup>*</sup>"
              %td<
                %input{:name => "[#{model}][#{data[:name]}]",
                  :value => data[:value].nil? ? '...?...' : data[:value]["#{current_lang}"]}
      %tfoot
        %tr
          %td{:class => "buttons_bottom", :colspan => "2"}
            - current_buttons(action).each do |verb|
              %span{:class => "button #{verb}", :onclick => current_xhr(verb,action,@task.target,@object.id)}<
                =t("button.#{verb}")
        %tr
          %td.footer_note{:colspan => "2"}= t('gen_footer.note')
-else
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.class.to_s}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |verb|
            %span{:class => "button #{verb}", :onclick => current_xhr(verb,action,@task.target,@object.id)}<
              =t("button.#{verb}")

