%p.header_title.ce TrustSys - Varena
%p.header_auth
  %span
    %a#login_status.st.em{href: "/utils/logout"}= t('login.link_out')
    &nbsp;|&nbsp;
    %a.st.em{href: "http://trst.ro"} TrustSys
    %br
  %span.small= "IP: #{request.ip}<br>"
  %br
  %span #{t('login.authenticated_as')}<br>
  %span#login_name.st.em #{@current_user.login_name}
%span#I18n
  %a{href: "/utils/lang/ro",title: t('lang.ro')}
    %img{src: "/images/icons/ro.png", alt: t('lang.ro')}
  %a{href: "/utils/lang/en",title: t('lang.en')}
    %img{src: "/images/icons/en.png", alt: t('lang.en')}
  %a{href: "/utils/lang/hu",title: t('lang.hu')}
    %img{src: "/images/icons/hu.png", alt: t('lang.hu')}
