:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
  clients = current_user.permission_lvl <= 5 ? TrstPartner.clients : TrstPartner.clients.where(:name.in => ["Biti","Diren", "Remat"])
  transporters = current_user.permission_lvl <= 5 ? TrstPartner.transporters : TrstPartner.transporters.where(:name.in => ["Biti","Diren", "Remat"])
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_delivery_note.title')
%span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.delivery_note", :action => "filter"}}
- if unit_id
  - if current_user.unit_id.nil?
    = partial('trst_sys/shared/select_unit')
  %table{:cellspacing => "0"}
    %thead
      %tr
        %td
          %p{:style => "font-size:0.9em"}= t('trst_acc_delivery_note.filter.info')
    %tbody
      %tr
        %td
          %select#select_client
            %option{:value => 'null'}= t('trst_acc_delivery_note.filter.select.client')
            - unless TrstPartner.clients.empty?
              - clients.each do |client|
                %option{:value => client.id}= client.name[1]
      %tr
        %td
          %select#select_transporter
            %option{:value => 'null'}= t('trst_acc_delivery_note.filter.select.transporter')
            - unless TrstPartner.transporters.empty?
              - transporters.each do |transporter|
                %option{:value => transporter.id}= transporter.name[1]
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          %span{:class => "button post mc-evt"}= t("button.post") + " Anexa3"
          %span{:class => "button cancel mc-evt"}= t("button.cancel")
- else
  = partial('trst_sys/shared/select_unit')
