:ruby
  unit_id = current_user.unit_id || session[:unit_id]
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_delivery_note.title')
-if action == 'put'
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %th{:colspan => "6"}
            Nr.
            %input.ce{:name => "[trst_acc_delivery_note][name]",:value => @object.name, :style => "width:12em"}
            din data de:
            %input.date{:name => "[trst_acc_delivery_note][id_date]",:value => @object.id_date.to_s}
        %tr
          %td{:colspan => "6"}
            %table{:cellspacing => "0"}
              %tbody
                %tr
                  %td Anexa la aviz nr.
                  %td{:colspan => "3"}
                    %input.ce{:name => "[trst_acc_delivery_note][id_main_doc]",:value => @object.id_main_doc}
                %tr
                  %td Delegat
                  %td
                    %select{:name => "[trst_acc_delivery_note][id_delegate_t]"}
                      %option{:value => "null"}= t('trst_acc_delivery_note.select.delegate')
                      - TrstPartner.find(@object.transporter_id).delegates.each do |d|
                        %option{:value => d.id.to_s}= d.name
                  %td Mijloc trans.
                  %td
                    %input.ce{:name => "[trst_acc_delivery_note][id_platte]",:value => @object.id_platte}
              %tfoot
                %tr
                  %td.footer_note{:colspan => "4"}= t('trst_acc_delivery_note.delegate_warning')
      %tbody.inner
        %tr
          %td.ce Material
          %td.ce UM
          %td.ce Stoc
          %td.ce Cant
          %td.ce Rămâne
          %td.ce &nbsp;&nbsp;
        -for i in 1..5 do
          %tr{:id => "tr_0#{i.to_s}"}
            %td.filtering-select-freight
              %input.freight{:id => "freightSelect_0#{i.to_s}", :data => {:dn => "true"}}
            %td
              %span.ce.st kg
            %td
              %span.val 0.00
            %td
              %input.ri.st{:id => "qu_0#{i.to_s}",:name => "[freights][#{i}][qu]",:value => "0.00", :onchange => "trst.task.acc.calculatorDN()", :style => "width:8em"}
              %input{:type => "hidden", :name => "[freights][#{i}][doc_id]",:value => @object.id}
              %input{:type => "hidden", :name => "[freights][#{i}][unit_id]",:value => unit_id}
            %td
              %span.res 0.00
            %td
              %span.db-freight-del{:onclick => "trst.task.acc.deleteRowDN(this)"}
        %tr
          %td.ce.em.st{:colspan => "3"}Total încărcare
          %td
            %span.ce.st{:style => "display:block"} 0.00
          %td{:colspan => "2"}
            %span &nbsp;&nbsp;
      %tfoot
        %tr
          %td{:class => "buttons_bottom", :colspan => "6"}
            %span{:class => "button save", :onclick => "trst.task.init('#{@task.id}','put','#{@object.id}')"}= t("button.save")
            %span{:class => "button delete", :onclick => "trst.task.init('#{@task.id}','delete','#{@object.id}')"}= t("button.delete")
        %tr
          %td.footer_note{:colspan => "6"}= t('trst_acc_delivery_note.footer_note_put')
-else
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,"new",params)}<
              =t("button.#{button}")
