:ruby
  unit_id = current_user.unit_id || session[:unit_id]
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_delivery_note.title')
-if action == 'put'
  %span#hidden_data.hidden{:data => {:task_id => "#{@task.id}", :js => "acc.delivery_note", :action => "put", :object_id => "#{@object.id}"}}
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %th{:colspan => "6"}
            = t('trst_acc_delivery_note.put.label.thead')[0]
            %input.ce{:name => "[trst_acc_delivery_note][name]",:value => @object.name, :style => "width:12em"}
            = t('trst_acc_delivery_note.put.label.thead')[1]
            %input.date{:name => "[trst_acc_delivery_note][id_date]",:value => @object.id_date.to_s}
        %tr
          %td{:colspan => "6"}
            %table{:cellspacing => "0"}
              %tbody
                %tr
                  %td= t('trst_acc_delivery_note.put.label.thead')[2]
                  %td{:colspan => "3"}
                    %input.ce{:name => "[trst_acc_delivery_note][id_main_doc]",:value => @object.id_main_doc}
                %tr
                  %td= t('trst_acc_delivery_note.put.label.thead')[3]
                  %td
                    %select{:name => "[trst_acc_delivery_note][id_delegate_t]"}
                      %option{:value => "null"}= t('trst_acc_delivery_note.put.select')
                      - TrstPartner.find(@object.transporter_id).delegates.each do |d|
                        %option{:value => d.id.to_s}= d.name
                  %td= t('trst_acc_delivery_note.put.label.thead')[4]
                  %td
                    %input.ce{:name => "[trst_acc_delivery_note][id_platte]",:value => @object.id_platte}
      %tbody.inner
        %tr
          - t('trst_acc_delivery_note.put.label.tbody').each do |label|
            %td.ce= label
        -for i in 1..5 do
          %tr{:id => "tr_0#{i.to_s}"}
            %td.filtering-select-freight
              %input.freight{:id => "freightSelect_0#{i.to_s}"}
            %td
              %span.ce.st kg
            %td
              %span.val 0.00
            %td
              %input.ri.st{:id => "qu_0#{i.to_s}",:name => "[freights][#{i}][qu]",:value => "0.00", :style => "width:8em"}
              %input{:type => "hidden", :name => "[freights][#{i}][doc_dn_id]",:value => @object.id}
              %input{:type => "hidden", :name => "[freights][#{i}][id_stats]",:value => ''}
              %input{:type => "hidden", :name => "[freights][#{i}][pu]",:value => 0.00}
            %td
              %span.res 0.00
            %td
              %span.db-freight-del
        %tr
          %td.ce.em.st{:colspan => "3"}= t('trst_acc_delivery_note.put.label.tbody_sum')
          %td
            %span.ce.st{:style => "display:block"} 0.00
          %td{:colspan => "2"}
            %span &nbsp;&nbsp;
      %tfoot
        %tr
          %td{:class => "buttons_bottom", :colspan => "6"}
            %span{:class => "button save mc-evt"}= t("button.save")
            %span{:class => "button delete mc-evt"}= t("button.delete")
-else
  %span#hidden_data.hidden{:data => {:task_id => "#{@task.id}", :js => "acc.delivery_note", :action => "post", :object_id => "#{@object.id rescue nil}"}}
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,"new",params)}<
              =t("button.#{button}")
