:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
  date = session[:date] || Date.today.to_s
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_delivery_note.title')
- if unit_id
  - if current_user.unit_id.nil?
    = partial('trst_sys/shared/select_unit')
  %table{:cellspacing => "0"}
    %thead
      %tr
        %td{:colspan => "4"}
          - if current_user.unit_id
            %span.small.with-title{:title => t('trst_acc_delivery_note.repair.header_title')}= t('trst_acc_delivery_note.repair.header')
            %br
          - else
            %span.small Anexe3 eliberate în data de:&nbsp;
            %input.date{:onchange => "trst.task.init('#{@task.id}','repair',this.value)", :value => date}
            %hr
    %tbody
      %tr
        %td.ce Anexa3 nr.
        %td.ce Aviz nr.
        %td.ce Delegat
        %td.ce Acţiune
      - @object.by_unit_id(unit_id).daily(date).each do |o|
        %tr
          %td
            %span{:title => "Materiale\n#{o.freights_list.join("\n")}"}= o.name
          %td
            %span= o.id_main_doc
          %td
            %span= o.delegate_transp.name rescue "!!! Anonymus !!!"
          %td
            %span.db-edit{:title => "Tipărire/Ştergere #{o.name}", :onclick => "trst.task.init('#{TrstTask.task_id_by_target("TrstAccDeliveryNote")}','get','#{o.id}')"}
    %tfoot
      %tr
        - if current_user.unit_id
          %td.footer_note{:colspan => "4"}= t('trst_acc_delivery_note.repair.footer')
        - else
          %td.footer_note{:colspan => "4"}= t('trst_acc_delivery_note.repair.footer_short')
- else
  = partial('trst_sys/shared/select_unit')
