:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_grn_transfer.title')
%span#hidden_data.hidden{:data => {:from_unit => unit_id}}
- if unit_id
  - if current_user.unit_id.nil?
    = partial('trst_sys/shared/select_unit')
  - else
    %span.small= t('trst_acc_grn_transfer.unit_chief')
    %br
    %span.small= "( <b>#{current_user.unit.slug}</b> )"
  %table
    %tfoot
      %tr
        %td{:class => "buttons_bottom", :colspan => "2"}
          %span{:class => "button post", :onclick => "trst.task.acc.grnTransferInit('#{@task.id}')" }= "Selectare Avize"
          %span{:class => "button cancel", :onclick => "trst.task.destroy()"}= t("button.cancel")
- else
  = partial('trst_sys/shared/select_unit')
