%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
-if action == 'get'
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.grn_transfer", :action => "get", :object_id => "#{@object.id}"}}
  %table{:cellspacing => "0"}
    %thead
      %tr
        %td{:colspan => "4"}
        %span.small= t('trst_acc_grn_transfer.get.thead.label_01', :name => @object.name)
        %span.small{:style => "display:block; max-width:400px"}= "#{@object.delivery_notes.map{|dn| dn.id_main_doc}.join(', ')}"
        %span.small= t('trst_acc_grn_transfer.get.thead.label_02')
    %tbody.inner
      %tr.ce
        - t('trst_acc_grn_transfer.get.tbody').each do |label|
          %td= label
      - data = @object.delivery_notes.sum_freights_grn; data.sort.each do |s|
        %tr.to-calculate
          %td
            %span.freight= s[1][0]
          %td
            %span.pu= "%.2f" % s[1][2]
          %td
            %span.val= "%.2f" % s[1][3]
          %td
            %span.val= "%.2f" % s[1][4]
      %tr.result
        %td.ce.st{:colspan => "3"}= "Total"
        %td
          %span.val= "%.2f" % data.values.sum{|r| r[4]}
    %tfoot
      %tr
        %td{:class => "buttons_bottom", :colspan => "4"}
          %form{:id  => "xhr_#{action}"}
          %span{:class => "button print mc-evt"}= t("button.print")
          %span{:class => "button delete mc-evt"}= t("button.delete")
      %tr
        %td.footer_note{:colspan => "4"} &nbsp;
- else
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.grn_transfer", :action => "delete", :object_id => "#{@object.id rescue nil}"}}
  %table
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p= t("gen_msg.#{action}", :data => "#{@object.class.to_s} -> #{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          %span{:class => "button cancel mc-evt"}= t("button.cancel")
          %span{:class => "button delete mc-evt"}= t("button.delete")
