:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
  date_retro = (Date.new(2011,11,1)..Date.new(2012,2,29)).include? Date.today
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_expenditure.title')
- if unit_id
  - if current_user.unit_id.nil?
    = partial('trst_sys/shared/select_unit')
  %table{:cellspacing => "0"}
    %thead
      %tr
        %td
          %p{:style => "font-size:0.9em"}= t('trst_acc_expenditure.client.select')
    %tbody
      %tr
        %td.filtering-select-pf
          %input#pfFilteringSelect
          %span{:class => "button post", :data => {:task_id => TrstTask.task_id_by_goal("TrstPartnersPf")}}= t('trst_acc_expenditure.client.add_button')
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          %span{:class => "button post", :data => {:task_id => @task.id}}= t("button.post") + " APP!"
          %span{:class => "button cancel", :onclick => "trst.task.destroy()"}= t("button.cancel")
      - if date_retro && current_user.permission_lvl > 6
        %tr
          %td
            %span.small= "Introduceţi APP pentru #{(Date.today-8.month).to_s}?"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => (Date.today-8.month).to_s}}
      - else
        %tr
          %td
            %span.small= "Introduceţi APP pentru luna 03"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-03-"}}
            %span.small= " | 04"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-04-"}}
            %span.small= " | 05"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-05-"}}
            %span.small= " | 06"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-06-"}}
            %br
            %span.small= "Introduceţi APP pentru luna 07"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-07-"}}
            %span.small= " | 08"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-08-"}}
            %span.small= " | 09"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-09-"}}
            %span.small= " | 10"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-10-"}}
            %span.small= " | 11"
            %input.date_retro{:type => "checkbox", :data => {:date_retro => "2011-11-"}}
        %tr
          %td
            %span.small= t('trst_acc_expenditure.retro')
- else
  = partial('trst_sys/shared/select_unit')
