%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_expenditure.title')
-if action == 'get'
  %span#hidden_data.hidden{:data => {:task_id => "#{@task.id}", :js => "acc.expenditure", :action => "get", :object_id => "#{@object.id rescue nil}"}}
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th{:colspan => "8"}= "Nr. #{@object.name} din #{@object.id_date.strftime('%Y-%m-%d')}"
      %tr
        %td{:colspan => "8"}
          %p.ju{:style => "width:600px"}= t('trst_acc_expenditure.client.text', @object.client.i18n_hash)
    %tbody.inner
      %tr
        - t('trst_acc_expenditure.label.get').each do |label|
          %td.ce= label
      - @object.freights.each do |f|
        %tr
          %td
            %span.freight= f.freight.name
          %td
            %span.um= f.um
          %td
            %span.pu= "%.2f" % f.pu
          %td
            %span.qu= "%.2f" % f.qu
          %td
            - value = (f.pu * f.qu).round(2)
            %span.val= "%.2f" % value
          %td
            - tax03 = f.freight.p03 ? (value * 3 / 100).round(2) : 0.0
            %span.p03= "%.2f" %  tax03
          %td
            - tax16 = (value * 16 / 100).round(2)
            %span.p16= "%.2f" % tax16
          %td
            %span.res= "%.2f" % (value - ( tax16 + tax03)).round(2)
      %tr
        %td.ce.em.st{:colspan => "4"}Total
        %td
          %span.val= "%.2f" % @object.sum_100
        %td
          %span.p03= "%.2f" % @object.sum_003
        %td
          %span.p16= "%.2f" % @object.sum_016
        %td
          %span.res= "%.2f" % @object.sum_out
    %tfoot
      %tr
        %td{:class => "buttons_bottom", :colspan => "8"}
          %span{:class => "button print mc-evt"}= t("button.print")
          %span{:class => "button delete mc-evt"}= t("button.delete")
      %tr
        %td.footer_note{:colspan => "2"}= "&nbsp;"
- else
  %span#hidden_data.hidden{:data => {:task_id => "#{@task.id}", :js => "acc.expenditure", :action => "delete", :object_id => "#{@object.id rescue nil}"}}
  %table
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p= t("gen_msg.#{action}", :data => "#{@object.class.to_s} -> #{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          %span{:class => "button cancel mc-evt"}= t("button.cancel")
          %span{:class => "button delete mc-evt"}= t("button.delete")
