:ruby
  unit_id = current_user.unit_id || session[:unit_id]
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_expenditure.title')
-if action == 'put'
  %span#hidden_data.hidden{:data => {:task_id => "#{@task.id}", :js => "acc.expenditure", :action => "put", :object_id => "#{@object.id}"}}
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %th{:colspan => "9"}
            Nr.
            %input.ce{:name => "[trst_acc_expenditure][name]",:value => @object.name}
            din data de:
            %input.date{:name => "[trst_acc_expenditure][id_date]",:value => @object.id_date.to_s}
        %tr
          %td{:colspan => "9"}
            %p.ju{:style => "width:600px"}= t('trst_acc_expenditure.client.text', @object.client.i18n_hash)
      %tbody.inner
        %tr
          - t('trst_acc_expenditure.label.put').each do |label|
            %td.ce= label
        -for i in 1..5 do
          %tr{:id => "tr_0#{i.to_s}"}
            %td.filtering-select-freight
              %input.freight{:id => "freightSelect_0#{i.to_s}"}
            %td
              %input.um{:id => "um_0#{i.to_s}",:name => "[freights][#{i}][um]",:value => ""}
            %td
              %input.pu{:id => "pu_0#{i.to_s}",:name => "[freights][#{i}][pu]",:value => "0.00"}
            %td
              %input.qu{:id => "qu_0#{i.to_s}",:name => "[freights][#{i}][qu]",:value => "0.00"}
              %input{:type => "hidden", :name => "[freights][#{i}][id_stats]",:value => ''}
            %td
              %span.val 0.00
            %td
              %span.p03 0.00
            %td
              %span.p16 0.00
            %td
              %span.res 0.00
            %td
              %span.db-freight-del
        %tr.odd
          %td.ce.em.st{:colspan => "4"}Total
          %td
            %span.val 0.00
            %input{:type => "hidden",:name => "[trst_acc_expenditure][sum_100]"}
          %td
            %span.p03 0.00
            %input{:type => "hidden",:name => "[trst_acc_expenditure][sum_003]"}
          %td
            %span.p16 0.00
            %input{:type => "hidden",:name => "[trst_acc_expenditure][sum_016]"}
          %td
            %span.res 0.00
            %input{:type => "hidden",:name => "[trst_acc_expenditure][sum_out]"}
            %input{:type => "hidden", :name => "[freights][#{i}][doc_exp_id]",:value => @object.id}
          %td.ce &nbsp;&nbsp;
      %tfoot
        %tr
          %td{:class => "buttons_bottom", :colspan => "9"}
            %span{:class => "button save mc-evt"}= t("button.save")
            %span{:class => "button delete mc-evt"}= t("button.delete")
        %tr
          %td.footer_note{:colspan => "9"}= "&nbsp;" #t('gen_footer.note')
-else
  %span#hidden_data.hidden{:data => {:task_id => "#{@task.id}", :js => "acc.expenditure", :action => "post", :object_id => "#{@object.id rescue nil}"}}
  %table{:cellspacing => "0"}
    -if TrstAccExpenditure.by_unit_id(unit_id).last.freights.empty?
      %thead
        %tr
          %th{:style => "color:red"} !!! Atenţie !!!
      %tbody
        %tr
          %td
            %p.ju{:style => "width:350px;color:red"}
              Există o Adeverinţă fără nici un material !
              Poate fi o greşeală de a Dvs. sau se mai lucrează şi la un alt calculator.
    - else
      %thead
        %tr
          %th= t("gen_warning.#{action}")
      %tbody
        %tr
          %td
            %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,"new",params)}<
              =t("button.#{button}")
