:ruby
  unit_id = current_user.unit_id || session[:unit_id]
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_expenditure.title')
-if action == 'put'
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %th{:colspan => "9"}
            Nr.
            %input.ce{:name => "[trst_acc_expenditure][name]",:value => params[:date_retro].nil? ? @object.name : ''}
            din date de:
            %input.date{:name => "[trst_acc_expenditure][id_date]",:value => params[:date_retro].nil? ? @object.id_date.to_s : params[:date_retro]}
        %tr
          %td{:colspan => "9"}
            %p.ju{:style => "width:600px"}= t('trst_acc_expenditure.client.text', @object.client.i18n_hash)
      %tbody.inner
        %tr
          %td.ce Material
          %td.ce UM
          %td.ce PU
          %td.ce Cant
          %td.ce Valoare
          %td.ce 3%
          %td.ce 16%
          %td.ce Rest
          %td.ce &nbsp;&nbsp;
        -for i in 1..5 do
          %tr{:id => "tr_0#{i.to_s}"}
            %td.filtering-select-freight
              %input.freight{:id => "freightSelect_0#{i.to_s}"}
            %td
              %input.um{:id => "um_0#{i.to_s}",:name => "[freights][#{i}][um]",:value => ""}
            %td
              %input.pu{:id => "pu_0#{i.to_s}",:name => "[freights][#{i}][pu]",:value => "0.00", :onchange => "trst.task.acc.calculator()"}
            %td
              %input.qu{:id => "qu_0#{i.to_s}",:name => "[freights][#{i}][qu]",:value => "0.00", :onchange => "trst.task.acc.calculator()"}
            %td
              %span.val 0.00
            %td
              %span.p03 0.00
            %td
              %span.p16 0.00
            %td
              %span.res 0.00
            %td
              %span.db-freight-del{:onclick => "trst.task.acc.deleteRow(this)"}
        %tr.odd
          %td.ce.em.st{:colspan => "4"}Total
          %td
            %span.val 0.00
            %input{:type => "hidden",:name => "[trst_acc_expenditure][sum_100]"}
          %td
            %span.p03 0.00
            %input{:type => "hidden",:name => "[trst_acc_expenditure][sum_003]"}
          %td
            %span.p16 0.00
            %input{:type => "hidden",:name => "[trst_acc_expenditure][sum_016]"}
          %td
            %span.res 0.00
            %input{:type => "hidden",:name => "[trst_acc_expenditure][sum_out]"}
            %input{:type => "hidden", :name => "[freights][#{i}][doc_id]",:value => @object.id}
          %td.ce &nbsp;&nbsp;
      %tfoot
        %tr
          %td{:class => "buttons_bottom", :colspan => "9"}
            %span{:class => "button save", :onclick => "trst.task.acc.calculator(); trst.task.init('#{@task.id}','put','#{@object.id}')"}= t("button.save")
            %span{:class => "button delete", :onclick => "trst.task.init('#{@task.id}','delete','#{@object.id}')"}= t("button.delete")
        %tr
          %td.footer_note{:colspan => "9"}= "&nbsp;" #t('gen_footer.note')
-else
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,"new",params)}<
              =t("button.#{button}")
