:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_expenditure.title')
%table{:cellspacing => "0"}
  %thead
    %tr
      %td{:colspan => "4"}
        %span.small.with-title{:title => t('trst_acc_expenditure.repair.header_title')}= t('trst_acc_expenditure.repair.header')
        %br
  %tbody
    %tr
      %td.ce APP nr.
      %td.ce Valoare
      %td.ce Plătit
      %td.ce Acţiune
    - @object.by_unit_id(unit_id).daily.each do |o|
      %tr
        %td= o.name
        %td
          %span.val= "%.2f" % o.sum_100
        %td
          %span.res= "%.2f" % o.sum_out
        %td
          %span.db-edit{:title => "Tipărire/Ştergere #{o.name}", :onclick => "trst.task.init('#{TrstTask.task_id_by_target("TrstAccExpenditure")}','get','#{o.id}')"}
  %tfoot
    %tr
      %td.footer_note{:colspan => "4"}= t('trst_acc_expenditure.repair.footer')
