:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
%span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.stock", :action => "filter"}}
- if unit_id
  - unless current_user.unit_id
    = partial('trst_sys/shared/select_unit')
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %td
      %tbody
        %tr
          %td
            %select.stock
              %option{:value => 'null'}= TrstAccStock.by_unit_id(unit_id).empty? ? t('select.no_data') : t('select.select')
              - unless TrstAccStock.by_unit_id(unit_id).empty?
                - TrstAccStock.by_unit_id(unit_id).each do |o|
                  %option{:value => o.id}
                    = option_name(o)
      %tfoot
        %tr
          %td{:class => "buttons_bottom"}
            %span{:class => "button post mc-evt"}= t("button.post")
            %span{:class => "button cancel mc-evt"}= t("button.cancel")
- else
  = partial('trst_sys/shared/select_unit')
