%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
%form{:id  => "xhr_#{action}"}
  %table{:cellspacing => "0"}
    %thead
      %tr
        %td
    %tbody
      %tr
        %td
          %select{:onchange => "if (this.options[this.selectedIndex].value != 'null'){trst.task.init('#{@task.id}',
                                'get',
                                (this.options[this.selectedIndex].value))}"}
            %option{:value => 'null'}= @object.empty? ? t('select.no_data') : t('select.select')
            - unless @object.empty?
              - @object.each do |o|
                %option{:value => o.id}
                  = option_name(o)
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |verb|
            %span{:class => "button #{verb}", :onclick => current_xhr(verb,@task.id,action,"new")}<
              =t("button.#{verb}")
