:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
  @object.reload
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_stock.title')
-if action == 'get'
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th{:colspan => "4"}= "#{@object.name}"
      %tr
        %td{:colspan => "4"}
          %p.ju= "Stoc: #{@object.unit.name[1]}<br>Expl: #{@object.expl}"
    %tbody.inner
      %tr
        %td.ce= t('trst_acc_stock.name')
        %td.ce= t('trst_acc_stock.um')
        %td.ce= t('trst_acc_stock.pu')
        %td.ce= t('trst_acc_stock.qu')
      - @object.freights_sort_by_id_stats.each do |f|
        %tr
          %td
            %span.freight= f.freight.name rescue "Error..."
          %td
            %span.um= f.um
          %td
            %span.pu=  "%.2f" % f.pu
          %td
            %span.val= "%.2f" % f.qu
      %tr
        %td{:colspan => "4"} &nbsp;
    %tfoot
      %tr
        %td{:class => "buttons_bottom", :colspan => "3"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,@object.id,params)}<
              =t("button.#{button}")
      %tr
        %td.footer_note{:colspan => "4"}= "&nbsp;" #t('gen_footer.note')
- else
  %table
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p= t("gen_msg.#{action}", :data => "#{@object.class.to_s} -> #{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,@object.id,params)}<
              =t("button.#{button}")
