:ruby
  unit_id = current_user.unit_id.nil? ? session[:unit_id] : current_user.unit_id
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_stock.title')
-if action == 'put'
  %form{:id  => "xhr_#{action}"}
    %table.big
      %thead
        %tr
          %th{:colspan => "4"}
            Nume:
            %input.ce{:name => "[trst_acc_stock][name]",:value => @object.name}
            Data:
            %input.ce{:name => "[trst_acc_stock][id_date]",:value => @object.id_date.to_s,:style => "width:7em"}
            %br
            Expl:
            %input{:name => "[trst_acc_stock][expl]",:value => @object.expl,:style => "width:23em"}
        %tr
          %td{:colspan => "4"}
            -#%p.ju{:style => "width:600px"}= t('trst_acc_expenditure.client.text', @object.client.i18n_hash)
      %tbody.inner.stat
        %tr
          %td.ce= t('trst_acc_stock.name')
          %td.ce= t('trst_acc_stock.um')
          %td.ce= t('trst_acc_stock.pu')
          %td.ce= t('trst_acc_stock.qu')
        - @object.freights_sort_by_id_stats.each_with_index do |f,i|
          %tr.freight
            %td
              %span.freight= f.freight.name rescue "Error..."
            %td
              %span.um= f.um
            %td
              %input{:type => "hidden", :name => "[freights][#{i}][id]",:value => f.id}
              %input{:type => "hidden", :name => "[freights][#{i}][doc_id]",:value => @object.id}
              %input{:type => "hidden", :name => "[freights][#{i}][freight_id]",:value => f.freight_id}
              %input.ri.st{:style => "width:4.0em", :name => "[freights][#{i}][pu]", :value => "%0.2f" % f.pu}
            %td
              %input.ri.st{:style => "width:6.0em", :name => "[freights][#{i}][qu]", :value => "%0.2f" % f.qu}
        %tr
          %td{:colspan => "4"}
            %select{:onchange => "if (selectedValue(this) != 'null'){trst.task.acc.insertRow(selectedLabel(this),'#{@object.id}',selectedValue(this))}"}
              %option{:value => "null"}=t('trst_acc_stock.add_freight')
              - TrstAccFreight.by_unit_id(@object.unit_id).asc(:name).each do |f|
                %option{:value => f.id}= f.name
      %tfoot
        %tr
          %td{:class => "buttons_bottom", :colspan => "4"}
            - current_buttons(action).each do |button|
              %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,@object.id)}<
                =t("button.#{button}")
        %tr
          %td.footer_note{:colspan => "4"}= "&nbsp;" #t('gen_footer.note')
-else
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,"new")}<
              =t("button.#{button}")
