!!!
%html
  = partial('trst_sys/shared/html-head')

  %body.soria{:id => "srv",:'data-lang' => current_lang, :'data-dailytaskspage' => "page_#{TrstBook.daily_tasks_page.id}"}
    #main.wrap
      %header#header
        = partial('trst_sys/shared/header')

      %nav#menu
        = partial('trst_sys/shared/menu')

      %section#content
        %article#xhr_content
          = yield
        %article#xhr_msg.hidden
      %section#sidebar
        = partial('trst_sys/shared/sidebar')

      %section#main_footer.wrap

    %footer#footer.wrap
      = partial('trst_sys/shared/footer')

