%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= current_title(@task,action)
-if action == 'get'
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.invoice", :action => "get", :object_id => "#{@object.id}"}}
  %table{:cellspacing => "0"}
    %thead
      %tr
        %td{:colspan => "4"}
          %span.small{:style => "color:#999999"}= t('trst_acc_invoice.get.thead_01', :name => @object.name)
          %br
          %span{:style => "display:block;max-width:400px"}= t('trst_acc_invoice.get.thead_02', :id_main_doc => @object.id_main_doc, :id_date => @object.id_date.to_s, :client => @object.client.name[2])
          %span{:style => "display:block;max-width:400px;padding-left:5px"}= @object.delivery_notes.each_with_object([]){|dn,a| a << dn.id_main_doc}.join(', ')
          %span{:style => "display:block;max-width:400px"}= t('trst_acc_invoice.get.thead_03')
          %br
    %tbody.inner
      %tr.ce.st.em
        - t('trst_acc_invoice.get.tbody').each do |label|
          %td= label
      - @object.freights.each do |f|
        %tr
          %td.vam
            %span.freight= f.name
          %td.spnr
            %span= "%.4f" % f.pu
          %td.spnr
            %span= "%.2f" % f.qu
          %td.spnr
            - value = (f.pu * f.qu).round(2)
            %span= "%.2f" % value
      %tr
        %td.ce.em.st{:colspan => "3"} Total
        %td.ce.st.vam
          %span= "%.2f" % @object.sum
    %tfoot
      %tr
        %td{:colspan => "4"}
          -if @object.payment_doc.empty?
            %span= t('trst_acc_invoice.get.tfoot', :deadline => @object.payment_deadline.to_s)
          -else
            %span= @object.payment_doc
      %tr
        %td{:class => "buttons_bottom", :colspan => "4"}
          %form{:id  => "xhr_#{action}"}
          %span{:class => "button print mc-evt"}= t("button.print")
          %span{:class => "button delete mc-evt"}= t("button.delete")
      %tr
        %td.footer_note{:colspan => "4"}= "Notă:<br>&nbsp;&nbsp;\"Generare pdf\" numai în cazul în care doriţi NIR ptr. client"
- else
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.invoice", :action => "delete", :object_id => "#{@object.id rescue nil}"}}
  %table
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p= t("gen_msg.#{action}", :data => "#{@object.class.to_s} -> #{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          %span{:class => "button cancel mc-evt"}= t("button.cancel")
          %span{:class => "button delete mc-evt"}= t("button.delete")
