%p.close{:onclick => "trst.task.destroy()"}
-if action == 'put'
  %p.task_title= current_title(@task,action)
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.invoice", :action => "put", :object_id => "#{@object.id}"}}
  %form{:id  => "xhr_#{action}"}
    %table{:cellspacing => "0"}
      %thead
        %tr
          %td{:colspan => "4"}
            %span.small{:style => "color:#999999;display:block; margin-bottom:-8px"}= "(Id. intern #{@object.name})"
            %br
            %span= t('trst_acc_invoice.put.thead_01')[0]
            %input.date{:name => "[trst_acc_invoice][id_date]", :value =>  @object.id_date.to_s}
            %span= t('trst_acc_invoice.put.thead_01')[1]
            %input.ce{:name => "[trst_acc_invoice][id_main_doc]", :value => @object.id_main_doc}
            %br
            %span=  t('trst_acc_invoice.put.thead_02', :client => @object.client.name[1])
            %select{:name => "[trst_acc_invoice][id_delegate_c]"}
              - @object.client.delegates.each do |d|
                %option{:value => d.id.to_s}= d.name
            %br
            %span.small{:style => "display:block; max-width:400px"}= "#{t('trst_acc_invoice.put.thead_03')[0]} #{@object.delivery_notes.map{|dn| dn.id_main_doc}.join(',')} #{t('trst_acc_invoice.put.thead_03')[1]}"
            %br
      %tbody.inner
        %tr.ce.st.em
          - t('trst_acc_invoice.put.tbody').each do |label|
            %td= label
        - @object.delivery_notes.sum_freights_inv.sort.each_with_index do |s,i|
          %tr.to-calculate
            %td.vam
              %span.freight= s[0]
              %input{:type => "hidden", :name => "[inv_freights][#{i}][name]", :value => s[0]}
            %td.spnr
              %span= "%.2f" % s[1][1]
              %input{:type => "hidden", :name => "[inv_freights][#{i}][qu]", :value => s[1][1]}
            %td.ce
              %input.puw{:id => s[1][0], :name => "[inv_freights][#{i}][pu]", :value => "0.0000"}
              %input{:type => "hidden", :name => "[inv_freights][#{i}][id_stats]", :value => s[1][0]}
            %td.spnr
              %span 0.00
        %tr.result
          %td{:colspan => "3"}
            %span Total
          %td.ce.st.vam
            %span 0.00
            %input{:type => "hidden", :name => "[trst_acc_invoice][sum]", :value => "0.00"}
      %tfoot
        %tr
          %td{:colspan => "4"} &nbsp;
        %tr
          %td.vam{:colspan => "4"}
            %span.small= t('trst_acc_invoice.put.tfoot')[0]
            %span.small= t('trst_acc_invoice.put.tfoot')[1]
            %input#payment-payed.payment{:type => "radio", :name => "[trst_acc_invoice][payed]", :checked => @object.payed, :value => "true"}
            %span.small= t('trst_acc_invoice.put.tfoot')[2]
            %input.payment{:type => "radio", :name => "[trst_acc_invoice][payed]", :checked => !@object.payed, :value => "false"}
            %span.small= t('trst_acc_invoice.put.tfoot')[3]
            %span.small= t('trst_acc_invoice.put.tfoot')[4]
            %input#payment-cache.payment{:type => "radio", :name => "cache"}
            %span.small= t('trst_acc_invoice.put.tfoot')[5]
            %input.payment{:type => "radio", :name => "cache", :checked => true}
        %tr#payment
          %td.vam{:colspan => "4"}
            %span#payment-doc-label.small= t('trst_acc_invoice.put.tfoot')[6]
            %input#payment-doc-nr.ce.st{:style => "width:3.0em;display:none", :value => ""}
            %span#payment-date-label.small= t('trst_acc_invoice.put.tfoot')[7]
            %input#payment-date.date{:name => "[trst_acc_invoice][payment_deadline",:value => Date.today.to_s}
            %input#payment-doc{:type => "hidden", :name => "[trst_acc_invoice][payment_doc]", :value => ""}
        %tr
          %td{:class => "buttons_bottom", :colspan => "4"}
            %span{:class => "button save mc-evt"}= t("button.save")
            %span{:class => "button delete mc-evt"}= t("button.delete")

-else
  %p.task_title= t('trst_acc_invoice.title')
  %span#hidden_data.hidden{:data => {:task_id => @task.id, :js => "acc.invoice", :action => "post", :object_id => "#{@object.id rescue nil}"}}
  %table{:cellspacing => "0"}
    %thead
      %tr
        %th= t("gen_warning.#{action}")
    %tbody
      %tr
        %td
          %p.ju{:style => "width:350px"}= t("gen_msg.#{action}", :data => "#{@object.name}")
    %tfoot
      %tr
        %td{:class => "buttons_bottom"}
          - current_buttons(action).each do |button|
            %span{:class => "button #{button}", :onclick => current_xhr(button,@task.id,action,"new",params)}<
              =t("button.#{button}")
