:ruby
  client_id = params[:client_id]
  out_003 = params[:out_003] == 'true' ? true : false
  month = params[:month]
  dns = params[:dn_ary].nil? ? [] : params[:dn_ary].split(',')
  bckgrnd = {"afdv" => "#FFBFF0","ca21" => "#DDDDDD","cb25" => "#DDDDDD","sa57" => "#FFFF99","o139" => "#FFFF99","r25b" => "#BFFFBF","rafn" => "#BFFFBF"}
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_invoice.title') + " - Selectare avize"
%span#hidden_data.hidden{:data => {:task_id => @task.id, :client_id => client_id, :month => month, :out_003 => params[:out_003]}}
%table{:cellspacing => "0"}
  %thead
    - TrstAccDeliveryNote.asc(:id_date).by_client_id(client_id).monthly(month).by_charged(false).by_freights_p03(out_003).each_with_index do |dn,i|
      - if i % 8 == 0
        %tr
      %td.select-dn{:style => "border-right: solid 1px #333333; background-color: #{bckgrnd[dn.name.split('_')[1].downcase]}"}
        %input{:id => dn.id, :type => "checkbox", :onchange => "trst.task.acc.onSelectDn()", :checked  => dns.include?(dn.id.to_s)}
        %span{:title => "#{dn.id_date}\n#{dn.unit.name[1]}\n#{dn.name}\n#{dn.freights_list.join("\n")}", :style => "cursor:pointer", :onclick => "trst.task.acc.toggleDn(this)"}= dn.id_main_doc
    %tr
      %td{:colspan => "8"}
        %br
        %span.small Legendă:
        - TrstFirm.first.units.asc(:slug).each do |u|
          %span.small{:style => "border: solid 1px #333333; background-color: #{bckgrnd[u.name[0].downcase]}"}= u.name[1]
        %br
        %span.small Ptr.detalii despre aviz poziţionaţi mouse-ul deasupra denumirii...
    %tbody{:onload => "trst.task.acc.calculatorInv()"}
      - unless dns.empty?
        %tr
          %td{:colspan => "8"}
            %table{:style => "width:80%; margin: 15px auto 5px;"}
              %tbody.inner
                %tr
                  %td Material
                  %td Cantitate
                  %td Preţ
                  %td Valoare
                - TrstAccDeliveryNote.any_in(:_id  => dns).sum_freights_inv.sort.each do |s|
                  %tr.to-calculate
                    %td
                      %span.freight= s[0]
                    %td
                      %span.qu= "%.2f" % s[1][1]
                    %td
                      %input.pu{:id => s[1][0], :value => "0.00", :onchange => "trst.task.acc.calculatorInv()"}
                    %td
                      %span.val 0.00
                %tr.result
                  %td{:colspan => "3"}
                    %span{:onclick => "trst.task.acc.calculatorInv()"} Total
                  %td
                    %span.val 0.00
  %tfoot
    %tr
      %td{:class => "buttons_bottom",:colspan => "8"}
        - unless dns.empty?
          %span{:class => "button post", :onclick => "trst.task.acc.initInvCpus();trst.task.init('#{@task.id}','post','new?client_id=#{client_id}&dns=#{dns.join(',')}')" }= t("button.post") + " Factură"
        %span{:class => "button cancel", :onclick => "trst.task.destroy()"}= t("button.cancel")

