:ruby
  today = Date.today
  year = params[:year].nil? ? today.year : params[:year].to_i
  month = params[:month].nil? ? today.month : params[:month].to_i
  dns = TrstAccDeliveryNote.asc(:id_date).monthly(year,month).where(:charged => false).nin
%p.close{:onclick => "trst.task.destroy()"}
%p.task_title= t('trst_acc_invoice.title')
%p
  %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                        'query',
                        '?month=#{month}&year=' + selectedValue(this))}"}
    - [2011,2012].each do |y|
      %option{:value => y, :selected => y == year}= y
  %select{:onchange => "if (selectedValue(this) != '0'){trst.task.destroy();trst.task.init('#{@task.id}',
                        'query',
                        '?year=#{year}&month=' + selectedValue(this))}"}
    - t('month')[0..12].each_with_index do |m,i|
      %option{:value => i, :selected => i == month}= m
%table{:cellspacing => "0"}
  %thead
    %tr
      - unless @object.monthly(year,month).count == 0
        %td{:colspan => "6"}
          %span{:style => "display:block;max-width:400px"}= "În această luna s-au eliberat #{@object.monthly(year,month).count} facturi ( #{"%.2f" % @object.monthly(year,month).sum(:sum)} RON )"
          %br
          %span.small Legendă:
          %span.small{:style => "border: solid 1px #333333; background-color:#DDDDDD; padding:0px 3px"}= "Achitat"
          %span.small{:style => "border: solid 1px #333333; background-color:#FFBFF0; padding:0px 3px"}= "Neachitat"
          %br
          %span.small Ptr.detalii despre factură poziţionaţi mouse-ul deasupra denumirii...
      - else
        %td În acesta lună nu s-au eliberat facturi!
    %tr
      %td &nbsp;
  %tbody
    - @object.asc(:id_date).monthly(year,month).each_with_index do |inv,i|
      - if i % 6 == 0
        %tr
      %td.select-dn{:style => "border-right: solid 1px #333333; background-color: #{inv.payed ? "#DDDDDD" : "#FFBFF0"}"}
        %span{:title  => "Cod #{inv.name} din #{inv.id_date.to_s}\n în valoare de #{"%.2f" % inv.sum}\n#{inv.payed ? inv.payment_doc : "Termen: #{inv.payment_deadline.to_s}"}",
              :style => "cursor:pointer",
              :onclick => "trst.task.init('#{TrstTask.task_id_by_goal("TrstAccInvoice")}','get','#{inv.id}')"}= inv.id_main_doc
  %tfoot
    - if dns.count == 0
      %tr
        %td &nbsp;
      %tr
        %td{:colspan => "6"}
          %span.small Notă: Toate avizele au fost facturate!
    - else
      %tr
        %td{:colspan => "6"}
          %span.small{:style => "display:block;max-width:400px"}="Atenţie!!! Avizele #{dns.each_with_object([]){|dn,a| a << dn.id_main_doc}.join(', ')} nu au fost facturate!"

