!!! 5
%html
  = haml :'layout/_html-head'
  %body{id: "public"}
    %section.header
      %header
        = haml :'layout/_header'
      %nav.menu
        = haml :'layout/_menu'
    %section.content
      = haml :'layout/_xhr_msg'
      %aside.main
        %article#xhr_content
          = yield
      %aside.sidebar
        = haml :'layout/_sidebar'
    %footer
      = haml :'layout/_footer'
