!!! 5
%html
  = partial('layout/html-head')
  %body{id: "public"}
    %section.header
      %header
        = partial('layout/header')
      %nav.menu
        = partial('layout/menu')
    %section.content
      = partial('layout/xhr_msg')
      %aside.main
        %article#xhr_content
          = yield
      %aside.sidebar
        = partial('layout/sidebar')
    %footer.ce
      = partial('layout/footer')
